.state {
    position: relative;
	> :not(.tooltip-container) {
  		transition: 0.05s opacity linear;
  	}
}

.state--fade {
	> :not(.tooltip-container) {
		opacity: 0.3;
	}
}

.headers {
	overflow: hidden;
	h3 {
		width: 50%;
		float: left;
		text-align: center;
		color: #333;
		box-sizing: border-box;
		padding: 0 20px;
		position: relative;
		z-index: 2;
	    padding: 6px 10px;
	    margin: 0;
	    // @include fs-bodyHeading(3);
	    @include f-headline;
	    font-size: 16px;
	    line-height: 20px;
		&:first-child {
			text-align: right;
			border-right: 1px solid #dfdfdf;
		}
		&:nth-child(2) {
			text-align: left;
			border-left: 1px solid #dfdfdf;
			margin-left: -1px;
		}
	}
}

.parliament {
	padding: 0 20px;
	width: 100%;
	box-sizing: border-box;
	float: left;
}

.stages {
	margin: 0;
	padding: 0;
    padding-top: 12px;
	list-style-type: none;
	text-indent: 0;
	position: relative;
	background: #fff;
    border-top: 1px solid #bdbdbd;
    width: calc(100% - 40px);
    margin: 0 20px;
	&:after {
		content: '';
		display: block;
		clear: both;
		height: 1px;
	}

	&:before {
		content: '';
		position: absolute;
		left: 50%;
		top: 0;
		margin-left: -1px;
		border-right: 1px solid #dfdfdf;
		height: 100%;
		z-index: 1;
	}
}

.stages--top {
	margin: 0;
	padding-left: 20px;
	padding-right: 20px;
}

.stage {
	display: block;
	clear: both;
	position: relative;
	padding: 0;
	min-height: 32px;
	margin-bottom: 12px;
	// background: #fff;
	&:after {
		display: block;
		content: '';
		clear: both;
	}
	// &:nth-child(2n+1) {
	// 	background: #f7f7f7;
	// }
}

.house {
	position: relative;
}

.flow {
    color: #333;
    @include fs-textSans(3);
	position: absolute;
	top: 80px;
    transform: rotate(90deg);
    transform-origin: 0.5px;
    z-index: 2;
    > span {
    	display: block;
    	width: 330px;
    	padding: 0 50px;
    	box-sizing: border-box;
    }
}
.flow--lords > span {
	text-align: right;
}

.flow--lords {
	right: 0;
	transform: rotate(-90deg);
	transform-origin: calc(100% - 0.5px);
}
.arrow {
	border-top: 1px solid #767676;
	color: #767676;
	display: block;
	position: relative;
	top: 2px;
	z-index: 1;
	width: calc(100% + 20px);
	margin-left: -10px;
}
.arrow__head {
    position: absolute;
    top: -10px;
    z-index: 1;
    font-size: 14px;
    .flow--commons & {
    	right: -8px;
    }
    .flow--lords & {
		left: -2px;
    	top: -11px;
		transform: rotate(180deg);
	}
}
.stage__heading {
	@include fs-bodyHeading(2);
	text-align: center;
	background: #fff;
	color: #333;
	width: 100px;
	border-radius: 4px;
	z-index: 2;
	line-height: 20px;
	position: relative;
	margin: auto;
	@include mq(tablet) {
		left: 0;
		right: 0;
		position: absolute;
		line-height: 32px;
	}

}

.commons {
	float: left;
	.bill { float: right; }
}
.lords {
	float: right;
	.bill { float: left; }
}

.commons, .lords {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-indent: 0;
	width: calc(50% - (10px / 2));
	box-sizing: border-box;
	padding: 6px 0;
	@include mq(tablet) {
		width: calc(50% - (100px / 2));
		padding: 6px 12px;
		min-height: 32px;
	}
}

.tooltip {
	position: absolute;
	max-width: 400px;
	z-index: 3;
	background: white;
    padding: 6px 10px;
    border: 1px solid #dfdfdf;
    // border-radius: 4px;
	font-size: 13px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.05);
	@include fs-textSans(4);
   	ul {
   		list-style-type: none;
   		padding: 0;
   		margin: 0;
   		text-indent: 0;
	}
	h4 {
		@include fs-bodyHeading(4);
		margin: 3px 0;
		margin-bottom: 9px;
		font-size: 16px;
		line-height: 22px;
	}
  	transition: visibility 0s linear 0.2s,opacity 0.2s linear;
	&[hide] {
		visibility: hidden;
		opacity: 0;
	}
}

.tooltip__name {
	@include fs-bodyHeading(3);
}
.tooltip__type {
	@include fs-textSans(4);
	font-size: 15px;
	color: #767676;
	margin: 3px 0;
}
.tooltip__date {
    display: inline-block;
    width: 85px;
}

.bill {
	padding: 3px 5px 3px 0;
	cursor: pointer;
	a {
		border-radius: 2px;
		display: block;
		text-indent: -9999px;
		border: 1px solid #bdbdbd;
		background: #f1f1f1;
		width: 24px;
		height: 24px;
	}
	// &:hover {
	// 	-webkit-filter: brightness(80%);
	// }
	&.bill--visible {
		opacity: 0.9 !important;
	}
	&:not(.bill--visible) {
		display: none;
		opacity: 0.1;
			// &:hover {
			// 	opacity: 0.6;
			// }
	}
}

.bill[party="Conservative"] a { background: #0087DC; border-color: #005B94; }
.bill[party="Labour"] a { background: #DC241f; border-color: #980400;}
.bill[party="Green Party"] a { background: #6AB023; border-color: #437312;	}
.bill[party="undefined"] a { background: #767676; border-color: #555; }
.bill[party="Liberal Democrat"] a { background: #FDBB30; border-color: #C39024; }

$billTypes: ("Government", "Hybrid", "Ten Minute Rule", "Ballot", "HoL Private", "Presentation");

@each $type in $billTypes {
	.container[hovertype="#{$type}"] .bill[billtype="#{$type}"] {
		opacity: 0.5;
		-webkit-filter: brightness(90%);
		a {
			border-color: #333;
		}
	}
}


.stage--current {
	font-weight: bold;
}

@include mq($until: tablet) {
	.hide-at-mobile { display: none; }
}

.tooltip-container {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}