@import 'font';
@import 'mq';
@import '_billinfo';

.bill-info {
	position: static !important;
	padding: 0 10px;
    border-top: 1px solid #4bc6df;
    background: #f7f7f7;
    max-width: 320px;
}

.bill-info__close {
	display: none;
}
